NEXT_PUBLIC_SUPABASE_URL=https://gauegoqvroihyvgaunhr.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
INSTAGRAM_GRAPH_URL=https://graph.instagram.com
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_USER_ID=
INSTAGRAM_SYNC_SECRET=